<script src="js/sb-admin.js" type="text/javascript"></script>
<div class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <!--<div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>-->
                <!-- /input-group -->
            </li>
            <li><a ng-href="#"><i class="fa fa-sitemap fa-fw"></i>主页</a> </li>
            <li class='active'><a href="#"><i class="fa fa-cog fa-fw"></i>商家统计<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="#/merchantinfo">拉卡拉转账记录</a> </li>
                    <li><a href="#/mebershiplevel">商户转账记录</a> </li>
                    <li><a href="#/permissions">统计</a> </li>
                </ul>
            </li>
              <li class='active'><a href="#"><i class="fa fa-cog fa-fw"></i>用户消费<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="#/merchantinfo">用户消费记录</a> </li>
                    <li><a href="#/permissions">统计</a> </li>
                </ul>
            </li>
            <li><a ng-href="#/client"><i class="fa fa-users fa-fw"></i>综合统计</a> </li>
               <li class='active'><a href="#"><i class="fa fa-cog fa-fw"></i>账号管理<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                   <li><a href="#/permissions">账号列表</a> </li>
                </ul>
            </li>
        </ul>
        <!-- /#side-menu -->
    </div>
</div>
<div>
    <div ui-view>
    </div>
</div>
