
<!-- Content Header (Page header) -->
<div class="content-header">
	<h1>
		商户转账记录
		<small></small>
	</h1>

</div>

<!-- Main content -->
<div class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-primary collapsed-box">
				<div class="box-header">
					<h3 class="box-title"></h3>
					<div class="box-tools pull-left">
					<div class="input-group">
                                            <input type="text" placeholder="模糊查询(商家姓名，客户名称，手机号，昵称)" style="width: 500px;" class="form-control " name="table_search">
                                            <div class="input-group-btn">
                                                <button class="btn btn-default"><i class="fa fa-search"></i></button>
                                                <button title="高级查询" data-toggle="tooltip" data-widget="collapse" class="btn btn-info" data-original-title="高级查询">高级查询</button>
                                            </div>
                                        </div>
                                        
				
						
					
					</div>
				</div>
				
				<!-- /.box-header -->
				<div class="box-body" style="display:none;">
					<div class="row">
						<div class="col-xs-1 ">
							<!-- /.input group -->
							<div class="btn-group ">
								<button type="button" class="btn btn-default dropdown-toggle"
									data-toggle="dropdown">
									商圈范围
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a href="#">金牛</a>
									</li>
									<li>
										<a href="#">万达</a>
									</li>
									<li>
										<a href="#">天府广场</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-xs-1">
							<div class="btn-group ">
								<button type="button" class="btn btn-default dropdown-toggle"
									data-toggle="dropdown">
									消费类型
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a href="#">服饰</a>
									</li>
									<li>
										<a href="#">箱包</a>
									</li>
									<li>
										<a href="#">3C数码</a>
									</li>

								</ul>
							</div>
						</div>
						<div class="col-xs-1">
							<div class="btn-group ">
								<button type="button" class="btn btn-default dropdown-toggle"
									data-toggle="dropdown">
									支付方式
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a href="#">刷卡支付</a>
									</li>
									<li>
										<a href="#">GO币支付</a>
									</li>


								</ul>
							</div>
						</div>


						<div class="col-xs-6">

							<div class=" form-group form-horizontal">
								<label class="col-xs-2">时间范围</label>
								<div class="input-group col-xs-10">
									<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</div>
									<input type="text" id="reservation" class="form-control ">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<div class="row">
								<div class="col-xs-6">
									<div class=" form-group form-horizontal">
										<label class="col-xs-6">GO币金额区间</label>
										<div class="input-group col-xs-6">
											<input type="text" class="form-control ">
										</div>

									</div>
								</div>
								<div class="col-xs-5">
									<div class=" form-group form-horizontal">

										<label class="col-xs-4">至</label>
										<div class="input-group col-xs-8">
											<input type="text" class="form-control ">
										</div>
									</div>
								</div>

							</div>




						</div>

					</div>
					<div class="row">
						<div class="col-xs-6">
							<div class="row">
								<div class="col-xs-6">
									<div class=" form-group form-horizontal">
										<label class="col-xs-6">刷卡金额区间</label>
										<div class="input-group col-xs-6">
											<input type="text" class="form-control ">
										</div>

									</div>
								</div>
								<div class="col-xs-5">
									<div class=" form-group form-horizontal">

										<label class="col-xs-4">至</label>
										<div class="input-group col-xs-8">
											<input type="text" class="form-control ">
										</div>
									</div>
								</div>

							</div>




						</div>

					</div>

					<!-- 查询条件 -->




				</div>
				<!-- body -->
				<div class="box-footer" style="display:none;">
					

				</div>

				<!-- 查询条件 -->
			</div>

		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">

			<div class="box">
				<div class="box-header">
					<h3 class="box-title">记录列表</h3>
					<div class="box-tools">
						<div class="input-group pull-right">

							<button class="btn btn-info btn-sm ">
								<i class="fa fa-download"></i>
								导出EXCEL
							</button>
						</div>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body table-responsive no-padding">
					<table class="table table-hover">
						<tbody>
							<tr>
								<th>商家名称</th>
								<th>客户名称</th>
								<th>客户手机号</th>
								<th>客户昵称</th>
								<th>交易方式</th>
								<th>消费类型</th>
								<th>刷卡消费金额</th>
								<th>GO币消费金额</th>
								<th>消费时间</th>
							</tr>
							<tr>
								<td>万达旗舰店</td>
								<td>王锐</td>
								<td>
									<i class="fa fa-fw fa-mobile"></i>
									13800138000
								</td>
								<td>王小二</td>
								<td>
									<i class="fa fa-fw fa-credit-card"></i>
									刷卡消费
								</td>
								<td>衣服</td>
								<td>
									<i class="fa fa-fw fa-rmb"></i>
									100.00
								</td>
								<td>
									<i class="fa fa-fw fa-dot-circle-o"></i>
									32
								</td>
								<td>2014年4月1日</td>
							</tr>
							<tr>
								<td>万达旗舰店</td>
								<td>王锐</td>
								<td>
									<i class="fa fa-fw fa-mobile"></i>
									13800138000
								</td>
								<td>王小二</td>
								<td>
									<i class="fa fa-fw fa-credit-card"></i>
									刷卡消费
								</td>
								<td>衣服</td>
								<td>
									<i class="fa fa-fw fa-rmb"></i>
									100.00
								</td>
								<td>
									<i class="fa fa-fw fa-dot-circle-o"></i>
									32
								</td>
								<td>2014年4月1日</td>
							</tr>
							<tr>
								<td>万达旗舰店</td>
								<td>王锐</td>
								<td>
									<i class="fa fa-fw fa-mobile"></i>
									13800138000
								</td>
								<td>王小二</td>
								<td>
									<i class="fa fa-fw fa-credit-card"></i>
									刷卡消费
								</td>
								<td>衣服</td>
								<td>
									<i class="fa fa-fw fa-rmb"></i>
									100.00
								</td>
								<td>
									<i class="fa fa-fw fa-dot-circle-o"></i>
									32
								</td>
								<td>2014年4月1日</td>
							</tr>
							<tr>
								<td>万达旗舰店</td>
								<td>王锐</td>
								<td>
									<i class="fa fa-fw fa-mobile"></i>
									13800138000
								</td>
								<td>王小二</td>
								<td>
									<i class="fa fa-fw fa-credit-card"></i>
									刷卡消费
								</td>
								<td>衣服</td>
								<td>
									<i class="fa fa-fw fa-rmb"></i>
									100.00
								</td>
								<td>
									<i class="fa fa-fw fa-dot-circle-o"></i>
									32
								</td>
								<td>2014年4月1日</td>
							</tr>
							<tr>
								<td>万达旗舰店</td>
								<td>王锐</td>
								<td>
									<i class="fa fa-fw fa-mobile"></i>
									13800138000
								</td>
								<td>王小二</td>
								<td>
									<i class="fa fa-fw fa-credit-card"></i>
									刷卡消费
								</td>
								<td>衣服</td>
								<td>
									<i class="fa fa-fw fa-rmb"></i>
									100.00
								</td>
								<td>
									<i class="fa fa-fw fa-dot-circle-o"></i>
									32
								</td>
								<td>2014年4月1日</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- /.box-body -->
				<div class="box-footer clearfix">
					<ul class="pagination pagination-sm no-margin pull-right">
						<li>
							<a href="#">«</a>
						</li>
						<li class="active">
							<a href="#">1</a>
						</li>
						<li>
							<a href="#">2</a>
						</li>
						<li>
							<a href="#">3</a>
						</li>
						<li>
							<a href="#">4</a>
						</li>
						<li>
							<a href="#">5</a>
						</li>
						<li>
							<a href="#">»</a>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</div>

</div>
<!-- /.content -->

